<% layout('layouts/Boilerplate') %>
<body>
    <h1>This is the webcamp of yelp</h1>
    <h2>I have no idea what to do with this LOL</h2>
    <p>
        <a href="/campground">To See All Campgrounds</a>
    </p>
